/* -------------- THEME SWITCHER -------------- */
@mixin dark-appearance {
  background-color: #1a1a1a; /* Dark background */
  color: #fff; /* Light text */
  img {
    filter: invert(1); /* Invert images if needed */
    &.ioda {
      filter: invert(0); /* Exception for .ioda images */
    }
  }
}

body[data-theme="dark"] {
  @include dark-appearance;
}

@media (prefers-color-scheme: dark) {
  body[data-theme="auto"] {
    @include dark-appearance;
  }
}

/* -------------------------------------------- */
html,
body {
  background: white; /* Light mode default */
}

html {
  height: 100%;
}

body {
  color: black; /* Light mode default */
  font-family: monospace;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;
}

.post-meta {
  text-align: right;
}

h2,
h3,
h4,
h5,
h6 {
  margin-top: 3rem;
}

hr {
  margin: 2rem 0;
}

p {
  margin: 1rem 0;
}

li {
  margin: 0.4rem 0;
}

*:target {
  background: yellow;
}

.w {
  max-width: 640px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

hr {
  text-align: center;
  border: 0;
  &:before {
    content: "/////";
  }
  &:after {
    content: attr(data-content) "/////";
  }
}

table {
  width: 100%;
}

table,
th,
td {
  border: thin solid black; /* Light mode */
  border-collapse: collapse;
  padding: 0.4rem;
}

body[data-theme="dark"] table,
body[data-theme="dark"] th,
body[data-theme="dark"] td {
  border-color: #fff; /* Dark mode */
}

code {
  color: white;
  background: black;
}

body[data-theme="dark"] code {
  background: #333; /* Slightly lighter for dark mode */
}

div.highlighter-rouge code {
  display: block;
  overflow-x: auto;
  white-space: pre-wrap;
  padding: 1rem;
}

blockquote {
  font-style: italic;
  border: thin solid black; /* Light mode */
  padding: 1rem;
  p {
    margin: 0;
  }
}

body[data-theme="dark"] blockquote {
  border-color: #fff; /* Dark mode */
}

/* Wrapper for mode button */
#mode-wrapper {
  position: static;
  z-index: 1000;
}

/* Mode button styles */
#mode-wrapper #mode {
  background: white;
  position: fixed;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  z-index: 1001;
  border: 2px solid #fff;
  border-radius: 100%;
  transform: rotate(45deg);
  padding: 0.5rem;
  cursor: pointer;
}

/* Dark mode button styles */
body[data-theme="dark"] #mode-wrapper #mode {
  background: transparent;
  border-color: #fff;
  color: #fff;
}

/* Style the span inside the button */
#mode-text {
  display: block;
}